.match-lists {
    display: flex;
    border: solid 1px #232323;
}
.match-lists li{
    flex: 1;
    text-align: center;
    font-size: 15px;
    border-right: solid 1px #222224;
}
.match-lists li a{
    color: #000;
    padding: 9px 15px;
    display: block;
    text-align: center;
    background: var(--yellow);
}
.bulk_action{
    margin-top: 0;
}

.text-dark,.current.text-dark{
    color: #000!important;
}

@media (min-width:991px){
    .small-field{
        max-width: 130px!important;
    }
}