@media (min-width:767px){
    .teamNameBox[_ngcontent-nkk-c31]{
    flex-direction: row!important;
}
}

/* DROPDOWN WRAPPER */
.match-dd {
    position: absolute;
    top: 40px;
    right: 0;
    max-width: 190px;
    max-height: 50vh;
    overflow-y: auto;
    background: #006869; /* perfect match to screenshot */
    border-radius:10px;
    padding:0;
    color: #fff;
    border-bottom: 2px solid #55b569;
    margin: 0;
    z-index: 9999;
    box-shadow: 0 4px 12px rgba(0,0,0,0.3);
    overflow: hidden;
}

/* EACH ROW */
.match-dd-item {
    list-style: none;
    border-bottom: 1px solid rgba(255,255,255,0.2);
    padding: 5px 15px;
    color: #fff;
    border-bottom: 1px solid #55b569;
    transition: background 0.2s ease;

}
.match-dd-item:last-of-type{
    border: none;
}

/* LINK INSIDE ROW */
.match-dd-link {
    display: block;
    color: #ffffff;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;

    /* ELLIPSIS */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;

}

/* HOVER EFFECT EXACT SAME STYLE */
.match-dd-item:hover {
    background: #008183;
}


