/* FORM WRAPPER */
.password-form-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
     margin-top: 5%;
}

/* MAIN FORM CARD */
.password-form {
  width: 420px;
  background: #fff;
  border: 3px solid #007bff;
  border-radius: 10px;
  padding: 0px 10px;
  text-align: center;
}

/* LOGO */
.form-logo{
    display: flex;
    justify-content: center;
}
.form-logo img {
  width: 150px;
  filter: invert(1); /* white look like screenshot */
}

/* INPUT BOX */
.form-input {
  width: 100%;
      height: 35px;
  border-radius: 6px;
  border: 2px solid #007bff;
  padding: 0 14px;
  font-size: 14px;
  outline: none;
  transition: .2s;
}

.form-input:focus {
  border-color: #005ec4;
}

/* GAP BETWEEN INPUTS */
.form-group {
  margin-bottom: 18px;
}

/* SUBMIT BUTTON */
.submit-btn {
  width: 100%;
  height: 50px;
  font-size: 18px;
  font-weight: bold;
  color: white;
  border: none;
  border-radius: 6px;
  background: linear-gradient(to bottom, #40c057, #0a8f28);
  cursor: pointer;
  transition: 0.2s;
}

.submit-btn:hover {
  opacity: 0.9;
}
